.container {
    display: flex;
    background-color: lightgreen;
    border: 3px solid black;
    width: 950px;
    height: 950px;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: row; */
    /* justify-content: space-around; */
    /* justify-content: flex-end; */
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    gap: 10px;

    

   

    
}
.item {
    height: 70px;
    width: 010px;
    border: 2px solid black;
    background-color: lightblue;
    padding: 50px;
    margin: 10px;


}